.venv/
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
data/raw
data/processed/embeddings/mpd_text_embeddings.npz
data/processed/embeddings/msd_text_embeddings.npz
data/processed/faiss_indices/mpd_text_index.faiss
data/processed/faiss_indices/mpd_text_index_id_map.pkl
